body{background:url("../../Web design/Images/nyancat.gif");}

h1{
    color:white;
    background-color: black;
    padding: 10px;
    margin: auto;
    font-size: 20px;
}
p{
    background:linear-gradient(to right, black, white);
    background-size: 500% 100%;
    animation: rainbow 5s ease infinite;
    color: white;
    font-size: 50px;

}

@keyframes rainbow {
    0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
}

.box a:link, .box a:visited{
    /* background:black; */
    color: black;
    text-decoration: none;
    font-size: 50px;
    /* -webkit-text-stroke: 10x black; */
    /* text-stroke: 10px black; */
    text-decoration-line:    underline;

}

.img{
    /* center the div */
    margin: 0 auto;
    text-align: center;
}

.login{
    /* center the div */
    margin: 0 auto;
    text-align: center;
    background: linear-gradient(to right,white, red, orange, yellow, green, blue, indigo, violet);
    background-size: 14000% 100%;
    background-clip: padding-box;
    display: inline-block;
    padding: 10px 20px;



}

.login:hover {
    animation: rainbow 2s linear infinite;
  }
.login a:link, .login a:visited {
    mix-blend-mode: difference;
    color: white;
    font-size: 100px;
    /* -webkit-text-stroke: 10x black; */
    /* text-stroke: 10px black; */
    text-decoration-line:underline;
    background-clip: padding-box;
}
.parent{
    text-align: center;
}

.heading{
    text-align: center;
    font-size: 100px;
    color: white;
    background-color: transparent;
    /* underline the text */
    text-decoration-line: underline;
}